{% extends "layout.html" %}
{% block content %}
<h1>{{ "sidebar.inventory"|t(locale) }}</h1>
<p><a class="button" href="/inventory/new">{{ "inventory.button.add"|t(locale) }}</a></p>
<table>
<thead>
<tr><th>{{ "common.col.name"|t(locale) }}</th><th>{{ "common.col.category"|t(locale) }}</th><th>{{ "common.field.location"|t(locale) }}</th><th>{{ "common.field.status"|t(locale) }}</th><th>{{ "common.field.source"|t(locale) }}</th></tr>
</thead>
<tbody>
{% for i in items %}
<tr>
  <td><a href="/inventory/{{ i.id }}/edit">{{ i.name }}</a></td>
  <td>{{ i.category_name }}</td>
  <td>{{ i.location_label }}</td>
  <td>{{ i.status_label }}</td>
  <td>{{ i.source_desc }}</td>
</tr>
{% else %}
<tr><td colspan="5">{{ "inventory.empty"|t(locale) }}</td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
