{% extends "layout.html" %}
{% block content %}
<h1>{{ "sidebar.transfers"|t(locale) }}</h1>
<p><a class="button" href="/transfers/new">{{ "transfers.button.add"|t(locale) }}</a></p>
<table>
<thead>
<tr><th>{{ "common.col.date"|t(locale) }}</th><th>{{ "web.col.eur_sent"|t(locale) }}</th><th>{{ "web.col.rate"|t(locale) }}</th><th>{{ "web.col.brl_received"|t(locale) }}</th></tr>
</thead>
<tbody>
{% for t in transfers %}
<tr>
  <td><a href="/transfers/{{ t.id }}/edit">{{ t.date_display }}</a></td>
  <td>&euro; {{ t.eur_display }}</td>
  <td>{{ t.rate_display }}</td>
  <td>R$ {{ t.brl_display }}</td>
</tr>
{% else %}
<tr><td colspan="4">{{ "transfers.empty"|t(locale) }}</td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
