{% extends "layout.html" %}
{% block content %}
<h1>{{ "sidebar.outbound"|t(locale) }}</h1>
<p><a class="button" href="/outbound/new">{{ "outbound.button.add"|t(locale) }}</a></p>
<table>
<thead>
<tr><th>{{ "common.col.date"|t(locale) }}</th><th>{{ "reports.col.recipient"|t(locale) }}</th><th>{{ "web.col.summary"|t(locale) }}</th></tr>
</thead>
<tbody>
{% for e in events %}
<tr>
  <td><a href="/outbound/{{ e.id }}/edit">{{ e.date_display }}</a></td>
  <td>{{ e.recipient_name }}</td>
  <td>{{ e.summary }}</td>
</tr>
{% else %}
<tr><td colspan="3">{{ "outbound.empty"|t(locale) }}</td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
