{% extends "layout.html" %}
{% block content %}
<h1>{{ "sidebar.donors"|t(locale) }}</h1>
<p><a class="button" href="/donors/new">{{ "donors.button.add"|t(locale) }}</a></p>
<table>
<thead>
<tr><th>{{ "common.col.name"|t(locale) }}</th><th>{{ "common.field.contact_info"|t(locale) }}</th></tr>
</thead>
<tbody>
{% for d in donors %}
<tr>
  <td><a href="/donors/{{ d.id }}/edit">{{ d.name }}</a></td>
  <td>{{ d.contact_info }}</td>
</tr>
{% else %}
<tr><td colspan="2">{{ "donors.empty"|t(locale) }}</td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
