{% extends "layout.html" %}
{% block content %}
<h1>{{ "sidebar.brl_ledger"|t(locale) }}</h1>
<p class="balance {% if balance_positive %}balance-pos{% else %}balance-neg{% endif %}">
  {{ balance_label }}
</p>
<p class="hint">{{ "brl_ledger.hint.read_only"|t(locale) }}</p>
<table>
<thead>
<tr><th>{{ "common.col.date"|t(locale) }}</th><th>{{ "reports.col.type"|t(locale) }}</th><th>{{ "common.col.description"|t(locale) }}</th><th>{{ "common.col.amount"|t(locale) }}</th></tr>
</thead>
<tbody>
{% for r in rows %}
<tr>
  <td>{{ r.date_display }}</td>
  <td>{{ r.type_label }}</td>
  <td>{{ r.desc }}</td>
  <td>{{ r.sign }}R$ {{ r.amount_display }}</td>
</tr>
{% else %}
<tr><td colspan="4">{{ "common.no_entries"|t(locale) }}</td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
